*::selection{
  color: #FA6122;
}

html,
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(251,233,213,0.5) 100%);
}

.side-bar{
  height: 100vh;
  width: 22vw;
  float: left;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
}
.tree{
  max-width: 100%;
  max-height: 100%;
  transform: scaleX(-1);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
}

.avatar{
  width: 15rem;
  border: .2rem solid #FA6122;
  border-radius: 50%;
  filter: grayScale(100%);
  transition: all .5s ease;
  cursor: pointer;
}

.avatar:hover{
  filter: grayscale(0);
  /* transform: translateY(-.5rem);
  width: 15.5rem; */
}

.title{
  margin-top: .5rem;
  margin-bottom: .5rem;
  transition: all .5s ease;
  position: relative;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}

/* .title::before{
  content: '';
  width: 0;
  height: 2px;
  background-color: rgba(223,193,159,0.5);
  position:absolute;
  bottom: 0;
  transition: all .6s ease;
} */

.avatar:hover ~ .title{
  letter-spacing: .15rem;
}

.title span{
  transition: color .5s ease;
}

.avatar:hover ~ .title span{
  color:#FA6122;
}

.title:hover .title>span{
  color:#FA6122;
}

.avatar:hover ~ .title:not(span){
  color: rgb(20, 63, 107);
}

/* .avatar:hover ~ .title::before{
  width: 14rem;
} */

.main{
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  width: 70vw;
  float: right;
  margin: 5rem 5rem 5rem 0;
  padding: 3rem;
  box-sizing: border-box;

}